
<%= link_to '<-- Back to Users', users_path %>

<div class='profile'>
	<div class='userHeader'>
		<%= @user.username %>
	</div>
	<br>
	<img>
		<%= image_tag @user.avatar.url(:medium) %>
	</img>
</div>
<hr>