// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body{
// 	background-image: url("3840x2400.jpg");
// 	background-repeat: no-repeat;
//   background-attachment: local;
//   background-size: cover;
//   background-position: center;
// }

hr {
  border: none;
  background-color: #ccc;
  color: #ccc;
  height: 1px;
}

/* unvisited link */
a:link{
  color: #1b94fe;
  text-decoration: none;
}

/* visited link */
a:visited{
  color: #1b94fe;
  text-decoration: none;
}

/* mouse over link */
a:hover{
  color: #80c3fe;
  text-decoration: none;
}

/* selected link */
a:active{
  color: #80c3fe;
  text-decoration: none;
}

#allRooms{
	width: 90%;
	max-width: 900px;
  font-family: 'Playfair Display', serif;
  overflow: normal;
  margin: 0 auto;
  text-align: center;
}

.oneRoom{
	width: 350px;
	background-color: #F2F2F2;
	margin: 8px;
	padding: 15px;
	border: solid black 1px;
	border-radius: 8px;
	vertical-align:top;
  display:inline-block;
  overflow: hidden;
}

.topic{
	font-size: 20px;
	font-weight: bold;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical; 
}

.postDate{
	font-size: 12px;
}

.roomImageContainer{
	height: 150px;
	margin: 0 auto;
	overflow: hidden;
}

.roomImageContainer img{
	margin: 0 auto;
	height: 100%;
	width: auto;
	border-radius: 4px;
}

.headline{
	margin-top: 10px;
	font-size: 14px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical; 
}

.newRoom{
  font-family: 'Playfair Display', serif;
  overflow: normal;
  margin: 0 auto;
  text-align: center;
}

.oneComment{
	border: solid black 2px;
}
