// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr {
  border: none;
  background-color: #ccc;
  color: #ccc;
  height: 1px;
}

#icon2{
	margin-top: -50px;
	font-size: 90px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

#icon2 span{
	color: #51ff00 !important;
}

#subIcon{
	font-size: 32px;
	color: #f0f0f0;
	text-align: center;
	margin-bottom: 25px;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

#subIcon span{
	color: #51ff00 !important;
}

#largeHeader{
	text-align: center;
}

#sideBar{
	width: 150px;
	text-align: center;
	background: linear-gradient(white, #b5d4e3);
	margin-left: 50px;
	position: fixed;
	padding: 15px;
	border: solid black 1px;
	border-radius: 8px;
  display: inline-block;
  overflow: hidden;
  float: left;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
}

#allRooms{
	width: 400px;
  overflow: normal;
  margin: 0 auto;
  text-align: center;
}

.oneRoom{
	width: 350px;
	text-align: center;
	background: linear-gradient(white, #b5d4e3);
	margin: 8px;
	padding: 15px;
	border: solid black 1px;
	border-radius: 8px;
  display: inline-block;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
}

.postArea{
	width: 85%;
	max-width: 600px;
	height: auto;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 5px;
	padding: 25px;
	background-color: #f2f2f2;
}

.topic{
	font-size: 24px;
	font-weight: bold;
	// overflow: hidden;
	// display: -webkit-box;
	// -webkit-line-clamp: 1;
	// -webkit-box-orient: vertical; 
	margin-bottom: 5px;
}

.topic2{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.postDate{
	font-size: 14px;
	margin-bottom: 15px;
}

.postDate2{
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
}

.roomImageContainer{
	margin: 0 auto;
	overflow: hidden;
}

.roomImageContainer img{
	margin: 0 auto;
	height: 100%;
	width: auto;
	border-radius: 4px;
}

.roomImageContainer2{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 15px;
}

.roomImageContainer2 img{
	margin: 0 auto;
	width: 100%;
	height: auto;
	border-radius: 4px;
}

.roomText{
	margin-top: 10px;
	font-size: 18px;
	white-space: pre-line;
}

.newRoom{
  overflow: normal;
  margin: 0 auto;
  text-align: center;
}

.oneComment{
	margin: 10px;
	padding: 10px;
	display: block;
}

.avatarImage{
	height: 30px;
	width: 30px;
	margin-right: 10px;
	float: left;
}

.avatarImage img{
	height: 100%;
	border-radius: 4px;
}

.avatarComment{
	text-align: left;
	margin-top: 6px;
}

.roomLinks{
	display: inline-block;
	width: 100%;
}

.backLink{
	float: left;
}

.deleteLink{
	text-align: right;
}

.box{
	height: 100px;
	width: 100px;
}
