// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile{
	text-align: center;
}

.profile img{

}

.userHeader{
	font-size: 28px;
	text-align: center;
}

.username{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	padding: 4px;
}

.header div{
	// float: left;
	color: #fff;
	font-size: 35px;
	text-align: center;
}

.header div span{
	color: #51ff00 !important;
}

.login{
	width: 250px;
	margin: 0 auto;
}

.loginText{
	width: 100%;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	padding: 4px;
	margin-top: 10px;
	text-align: center;
}

.loginButton{
	width: 103.5%;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #68bf40;
	font-size: 16px;
	padding: 6px;
	margin-top: 10px;
}

.cancelButton{
	width: 103.5%;
	height: 35px;
	background: rgba(255, 255, 255, 0.75);
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	padding: 6px;
	margin-top: 10px;
	margin-left: 40%;
}

.avatarButton{
	width: 100%;
	height: 47px;
	border: 1px solid rgba(255,255,255,0.9);
	cursor: pointer;
	border-radius: 2px;
	color: white;
	font-size: 16px;
	padding: 4px;
	margin-top: 10px;
	color: rgba(255,255,255,0.6);
	text-align: center;
}

.loginButton:hover{
	opacity: 0.5;
}

.loginButton:active{
	opacity: 0.6;
}

.loginText:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.cancelButton:focus{
	outline: none;
}

.cancelButton:hover{
	opacity: 0.5;
}

.cancelButton:active{
	opacity: 0.6;
}

.cancelButton:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.loginButton:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
